In [32]:
import pandas as pd
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [16]:
data=pd.read_csv('imdb (1000 movies) in june 2022.csv')

1. Display Top 10 Rows of The Dataset

In [19]:
data.head(10)

,ranking of movie\r\n,movie name\r\n,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE\n,DIRECTOR\r\n,ACTOR 1\n,ACTOR 2\n,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION\r\n
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M
1,2,The Godfather,-1972,X,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731",$134.97M
2,3,The Dark Knight,-2008,12A,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",$534.86M
3,4,The Lord of the Rings: The Return of the King,-2003,12A,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701",$377.85M
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776",$96.90M
5,6,The Godfather Part II,-1974,X,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,"1,239,027",$57.30M
6,7,12 Angry Men,-1957,U,96 min,"Crime, Drama",9.0,96.0,The jury in a New York City murder trial is fr...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,"769,113",$4.36M
7,8,Jai Bhim,-2021,All,164 min,"Crime, Drama, Mystery",8.9,NaN,When a tribal man is arrested for a case of al...,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan K.,Rajisha Vijayan,"191,329",NaN
8,9,Pulp Fiction,-1994,18,154 min,"Crime, Drama",8.9,94.0,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,"1,995,346",$107.93M
9,10,Inception,-2010,12A,148 min,"Action, Adventure, Sci-Fi",8.8,74.0,A thief who steals corporate secrets through t...,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,"2,284,252",$292.58M

In [ ]:
2. Check Last 10 Rows of The Dataset

In [20]:
data.tail(10)

,ranking of movie\r\n,movie name\r\n,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE\n,DIRECTOR\r\n,ACTOR 1\n,ACTOR 2\n,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION\r\n
990,991,The Birds,-1963,X,119 min,"Drama, Horror, Mystery",7.6,90.0,A wealthy San Francisco socialite pursues a po...,Alfred Hitchcock,Rod Taylor,Tippi Hedren,Jessica Tandy,Suzanne Pleshette,"186,123",$11.40M
991,992,Breakfast at Tiffany's,-1961,PG,115 min,"Comedy, Drama, Romance",7.6,76.0,A young New York socialite becomes interested ...,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,"178,134",NaN
992,993,Peeping Tom,-1960,X,101 min,"Drama, Horror, Thriller",7.6,NaN,"A young man murders women, using a movie camer...",Michael Powell,Karlheinz Böhm,Anna Massey,Moira Shearer,Maxine Audley,"35,011",$0.08M
993,994,Eyes Without a Face,-1960,15,90 min,"Drama, Horror",7.6,90.0,A surgeon causes an accident which leaves his ...,Georges Franju,Pierre Brasseur,Alida Valli,Juliette Mayniel,Alexandre Rignault,"31,294",$0.05M
994,995,Rebel Without a Cause,-1955,PG,111 min,Drama,7.6,89.0,A rebellious young man with a troubled past co...,Nicholas Ray,James Dean,Natalie Wood,Sal Mineo,Jim Backus,"89,947",NaN
995,996,Sabrina,-1954,U,113 min,"Comedy, Drama, Romance",7.6,72.0,A playboy becomes interested in the daughter o...,Billy Wilder,Humphrey Bogart,Audrey Hepburn,William Holden,Walter Hampden,"64,498",NaN
996,997,From Here to Eternity,-1953,PG,118 min,"Drama, Romance, War",7.6,85.0,"At a U.S. Army base in 1941 Hawaii, a private ...",Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,"46,804",$30.50M
997,998,Snow White and the Seven Dwarfs,-1937,A,83 min,"Animation, Adventure, Family",7.6,95.0,Exiled into the dangerous forest by her wicked...,William Cottrell,David Hand,Wilfred Jackson,Larry Morey,Perce Pearce,"196,361",$184.93M
998,999,The 39 Steps,-1935,A,86 min,"Crime, Mystery, Thriller",7.6,93.0,A man in London tries to help a counter-espion...,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,"56,586",NaN
999,"1,000.00",The Invisible Man,-1933,A,71 min,"Horror, Sci-Fi",7.6,87.0,"A scientist finds a way of becoming invisible,...",James Whale,Claude Rains,Gloria Stuart,William Harrigan,Henry Travers,"34,632",NaN

In [ ]:
3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [21]:
data.shape

(1000, 16)

In [22]:
print("Number of rows : ",data.shape[0])
print("Number of columns : ",data.shape[1])

Number of rows :  1000
Number of columns :  16

In [ ]:
4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ranking of movie
   1000 non-null   object
 1   movie name
         1000 non-null   object
 2   Year                 1000 non-null   object
 3   certificate          995 non-null    object
 4   runtime              1000 non-null   object
 5   genre                1000 non-null   object
 6   RATING               1000 non-null   float64
 7   metascore            837 non-null    float64
 8   DETAIL ABOUT MOVIE
  1000 non-null   object
 9   DIRECTOR
           1000 non-null   object
 10  ACTOR 1
             1000 non-null   object
 11  ACTOR 2
             1000 non-null   object
 12  ACTOR 3              1000 non-null   object
 13  ACTOR 4              1000 non-null   object
 14  votes                1000 non-null   object
 15  GROSS COLLECTION
   820 non-null    object
dtypes: float64(2), object(14)
memory usage: 125.1+ KB

In [ ]:
5. Check Missing Values In The Dataset

In [24]:
print("Any missing value?",data.isnull().values.any())

Any missing value? True

In [26]:
data.isnull().sum()

ranking of movie\r\n      0
movie name\r\n            0
Year                      0
certificate               5
runtime                   0
genre                     0
RATING                    0
metascore               163
DETAIL ABOUT MOVIE\n      0
DIRECTOR\r\n              0
ACTOR 1\n                 0
ACTOR 2\n                 0
ACTOR 3                   0
ACTOR 4                   0
votes                     0
GROSS COLLECTION\r\n    180
dtype: int64

In [41]:
per_missing = data.isnull().sum() * 100 / len(data)
per_missing

ranking of movie\r\n     0.0
movie name\r\n           0.0
Year                     0.0
certificate              0.5
runtime                  0.0
genre                    0.0
RATING                   0.0
metascore               16.3
DETAIL ABOUT MOVIE\n     0.0
DIRECTOR\r\n             0.0
ACTOR 1\n                0.0
ACTOR 2\n                0.0
ACTOR 3                  0.0
ACTOR 4                  0.0
votes                    0.0
GROSS COLLECTION\r\n    18.0
dtype: float64

In [ ]:
6. Drop All The  Missing Values

In [42]:
data.dropna(axis = 0)

,ranking of movie\r\n,movie name\r\n,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE\n,DIRECTOR\r\n,ACTOR 1\n,ACTOR 2\n,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION\r\n
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M
1,2,The Godfather,-1972,X,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731",$134.97M
2,3,The Dark Knight,-2008,12A,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",$534.86M
3,4,The Lord of the Rings: The Return of the King,-2003,12A,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701",$377.85M
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776",$96.90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,989,The Jungle Book,-1967,U,78 min,"Animation, Adventure, Comedy",7.6,65.0,Bagheera the Panther and Baloo the Bear have a...,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,"179,851",$141.84M
990,991,The Birds,-1963,X,119 min,"Drama, Horror, Mystery",7.6,90.0,A wealthy San Francisco socialite pursues a po...,Alfred Hitchcock,Rod Taylor,Tippi Hedren,Jessica Tandy,Suzanne Pleshette,"186,123",$11.40M
993,994,Eyes Without a Face,-1960,15,90 min,"Drama, Horror",7.6,90.0,A surgeon causes an accident which leaves his ...,Georges Franju,Pierre Brasseur,Alida Valli,Juliette Mayniel,Alexandre Rignault,"31,294",$0.05M
996,997,From Here to Eternity,-1953,PG,118 min,"Drama, Romance, War",7.6,85.0,"At a U.S. Army base in 1941 Hawaii, a private ...",Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,"46,804",$30.50M
997,998,Snow White and the Seven Dwarfs,-1937,A,83 min,"Animation, Adventure, Family",7.6,95.0,Exiled into the dangerous forest by her wicked...,William Cottrell,David Hand,Wilfred Jackson,Larry Morey,Perce Pearce,"196,361",$184.93M

In [ ]:
7. Check For Duplicate Data

In [44]:
dup_data = data.duplicated().any()

In [45]:
print("Are there any duplicate values? ",dup_data)

Are there any duplicate values?  False

In [47]:
data = data.drop_duplicates()
data

,ranking of movie\r\n,movie name\r\n,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE\n,DIRECTOR\r\n,ACTOR 1\n,ACTOR 2\n,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION\r\n
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M
1,2,The Godfather,-1972,X,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731",$134.97M
2,3,The Dark Knight,-2008,12A,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",$534.86M
3,4,The Lord of the Rings: The Return of the King,-2003,12A,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701",$377.85M
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776",$96.90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Sabrina,-1954,U,113 min,"Comedy, Drama, Romance",7.6,72.0,A playboy becomes interested in the daughter o...,Billy Wilder,Humphrey Bogart,Audrey Hepburn,William Holden,Walter Hampden,"64,498",NaN
996,997,From Here to Eternity,-1953,PG,118 min,"Drama, Romance, War",7.6,85.0,"At a U.S. Army base in 1941 Hawaii, a private ...",Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,"46,804",$30.50M
997,998,Snow White and the Seven Dwarfs,-1937,A,83 min,"Animation, Adventure, Family",7.6,95.0,Exiled into the dangerous forest by her wicked...,William Cottrell,David Hand,Wilfred Jackson,Larry Morey,Perce Pearce,"196,361",$184.93M
998,999,The 39 Steps,-1935,A,86 min,"Crime, Mystery, Thriller",7.6,93.0,A man in London tries to help a counter-espion...,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,"56,586",NaN
999,"1,000.00",The Invisible Man,-1933,A,71 min,"Horror, Sci-Fi",7.6,87.0,"A scientist finds a way of becoming invisible,...",James Whale,Claude Rains,Gloria Stuart,William Harrigan,Henry Travers,"34,632",NaN

In [ ]:
8. Get Overall Statistics About The DataFrame

In [51]:
data.describe(include='all')

,ranking of movie\r\n,movie name\r\n,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE\n,DIRECTOR\r\n,ACTOR 1\n,ACTOR 2\n,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION\r\n
count,1000,1000,1000,995,1000,1000,1000.000000,837.000000,1000,1000,1000,1000,1000,1000,1000,820
unique,1000,997,121,15,143,202,NaN,NaN,1000,554,661,836,896,934,1000,719
top,1,Drishyam,-2004,15,130 min,Drama,NaN,NaN,Two imprisoned men bond over a number of years...,Alfred Hitchcock,Tom Hanks,Emma Watson,Jennifer Connelly,Michael Caine,"2,603,314",$0.01M
freq,1,2,30,287,24,84,NaN,NaN,1,13,12,6,4,4,1,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.960200,78.629630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,0.276717,12.049598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,7.600000,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,71.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,7.900000,80.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,8.100000,88.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,9.300000,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
9. Display Number of Movies Per Year

In [53]:
data.columns

Index(['ranking of movie\r\n', 'movie name\r\n', 'Year', 'certificate',
       'runtime', 'genre', 'RATING', 'metascore', 'DETAIL ABOUT MOVIE\n',
       'DIRECTOR\r\n', 'ACTOR 1\n', 'ACTOR 2\n', 'ACTOR 3', 'ACTOR 4', 'votes',
       'GROSS COLLECTION\r\n'],
      dtype='object')

In [58]:
data['Year'].value_counts()

Year
-2004           30
-2014           29
-2009           26
-2013           25
-2001           25
                ..
-1920            1
-1924            1
(III) (2016)     1
-1936            1
(I) (1985)       1
Name: count, Length: 121, dtype: int64

In [ ]:
10. Count Number of Action Movies

In [59]:
data.columns

Index(['ranking of movie\r\n', 'movie name\r\n', 'Year', 'certificate',
       'runtime', 'genre', 'RATING', 'metascore', 'DETAIL ABOUT MOVIE\n',
       'DIRECTOR\r\n', 'ACTOR 1\n', 'ACTOR 2\n', 'ACTOR 3', 'ACTOR 4', 'votes',
       'GROSS COLLECTION\r\n'],
      dtype='object')

In [60]:
data['genre'].dtype

dtype('O')

In [64]:
data['genre'].str.contains('Action', case = False)

0      False
1      False
2       True
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: genre, Length: 1000, dtype: bool

In [65]:
len(data[data['genre'].str.contains('Action', case = False)])

200